In [0]:
import pandas as pd
import numpy as np

In [0]:
PATH = "/content/drive/My Drive/"
data = pd.read_csv(PATH + "eminem_songs.csv")

In [3]:
data.shape

(70, 3)

In [4]:
data.head()

   artist           song                                               text
0  Eminem     25 to Life  Too late for the other side  \nCaught in a cha...
1  Eminem         3 A.M.  Oh oh  \nOh(yea) oh(yea) oh(yea)  \nOh oh  \nO...
2  Eminem       3 Verses  I'm the illest rapper to hold a cordless  \nPa...
3  Eminem  Above The Law  [Intro:]  \nThe poor stay poor, the rich get r...
4  Eminem   Buffalo Bill  It fits perfect  \n  \nBetter watch out sucka ...

In [0]:
import string
def remove_punctuation(s):
  return s.translate(str.maketrans('', '', string.punctuation))

In [0]:
def add2dict(d, k, v):
  if k not in d:
    d[k] = []
  d[k].append(v)

In [0]:
corpus = data["text"].values.tolist()
corpus = " ".join(corpus)
corpus = corpus.lower().split("\n")

In [8]:
len(corpus)

5160

In [9]:
corpus[0:5]

['too late for the other side  ',
 'caught in a chase  ',
 'twenty five to life  ',
 'too late for the other side  ',
 'caught in a chase  ']

In [0]:
initial = {} # start of a phrase
second_word = {}
transitions = {}

In [0]:
for line in corpus:
  tokens = remove_punctuation(line.rstrip().lower()).split()

  T = len(tokens)

  for i in range(T):
    t = tokens[i]
    if i==0:
      initial[t] = initial.get(t, 0.) + 1
    else:
      t_1 = tokens[i-1]
      if i == T-1:
        add2dict(transitions, (t_1, t), 'END')
      if i == 1:
        add2dict(second_word, t_1, t)
      else:
        t_2 = tokens[i-2]
        add2dict(transitions, (t_2, t_1), t)

In [0]:
from future.utils import iteritems

initial_total = sum(initial.values())

for t, c in iteritems(initial):
    initial[t] = c / initial_total

In [0]:
def list2pdict(ts):
  d = {}
  n = len(ts)
  for t in ts:
    d[t] = d.get(t, 0.) + 1
  for t, c in iteritems(d):
    return d

In [0]:
for t_1, ts in iteritems(second_word):
  second_word[t_1] = list2pdict(ts)

In [0]:
for k, ts in iteritems(transitions):
  transitions[k] = list2pdict(ts)

In [0]:
def sample_word(d):
  p0 = np.random.random()
  cumulative = 0
  for t, p in iteritems(d):
    cumulative += p
    if p0 < cumulative:
      return t
  assert(False)

In [0]:
def generate():
  for i in range(4):
    sentence = []
    w0 = sample_word(initial)
    sentence.append(w0)
    w1 = sample_word(second_word[w0])
    sentence.append(w1)
    while True:
      w2 = sample_word(transitions[(w0, w1)])
      if w2 == 'END':
        break
      sentence.append(w2)
      w0 = w1
      w1 = w2
    print(" ".join(sentence))

In [32]:
generate()

but ive already wasted over half of my life back
so you better hear me out this much you owe me
gave these molecules too
too late for the other side